step-Function-configuration
{
  "Comment": "A State Machine to Run Transformations",
  "StartAt": "run-transformations-athena",
  "States": {
    "run-transformations-athena": {
      "Type": "Task",
      "Resource": "<LAMBDA-ARN>",
      "Next": "check-transformations-athena"
    },
    "check-transformations-athena": {
      "Type": "Task",
      "Resource": "<LAMBDA-ARN>",
      "Next": "transformations-done?"
    },
    "transformations-done?": {
      "Type": "Choice",
      "Choices": [{
          "Variable": "$.status",
          "StringEquals": "SUCCEEDED",
          "Next": "Send-SUCCEEDED-SNS"
        },
        {
          "Variable": "$.status",
          "StringEquals": "RUNNING",
          "Next": "Wait-1-Minute"
        },
        {
          "Variable": "$.status",
          "StringEquals": "FAILED",
          "Next": "Send-FAILED-SNS"
        }
      ],
      "Default": "Send-FAILED-SNS"
    },
    "Wait-1-Minute": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "check-transformations-athena"
    },
    "Send-SUCCEEDED-SNS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message": {
          "Input": "ETL-cuba-burgol-c2 was completed successfully"
        },
        "TopicArn": "<TOPIC-ARN>"
      },
      "Next": "Exacution-Succeeded"
    },
    "Send-FAILED-SNS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message": {
          "Input": "ETL-cuba-burgol-c2 was failed"
        },
        "TopicArn": "<TOPIC-ARN>"
      },
      "Next": "Exacution-Failed"
    },
    "Exacution-Succeeded": {
      "Type": "Succeed"
    },
    "Exacution-Failed": {
      "Type": "Fail"
    }
  }
}
